name: mopinion_flutter_integration_plugin
description: Plugin to integrate Mopinion Native Mobile SDKs into Flutter projects.
version: 2.0.0
homepage: https://mopinion.com/mobile-sdk-downloads/

environment:
  sdk: ">=3.1.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.mopinion.mopinion_flutter_integration_plugin
        pluginClass: MopinionFlutterIntegrationPlugin
      ios:
        pluginClass: MopinionFlutterIntegrationPlugin
